#titulo{
    font-size: 4em;
}

.inicial{
    font-weight: 1000;
    font-size: 1em;
}

#turno{
    font-size: 1em;
}

.btn{ 
    align-self: center;
    
}

.tablero>.btn{
    border: solid 2px black;
    width: 60px;
    height: 60px;
    margin: 8px;
    background-color: rgb(247, 244, 244);
    color: white;
    font-size: 2em;
}